**Laboratory Experiment 1**


*   Name     : Saurabh Mahendra Bhirud
*   PRN      : 231105007
*   Subject  : Python Programming Laboratory
*   Branch      : Electrical

**AIM** : To introduce basic data types, arithmetic operations, user input handling, and nested list in Python.

Exploring Data Types in Python

In [ ]:
a = 5
print(a, "is of type", type(a))
b = 2.0
print(b, "is of type", type(b))
c = 1+2j
print(c, "is complex number?", isinstance(c+2j, complex))
print(c.real)
print(c.imag)

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True
1.0
2.0

Basic Addition with User Input

In [ ]:
A=int(input("Enter A value "))# int is for integer, float for decimal numbers
#print(a)
B=int(input("Enter B value "))
#print(b)
c=A+B
print('The sum is',c)

Enter A value 100
Enter B value 200
The sum is 300

Basic Substraction with User Input

In [ ]:
a=float(input("Enter a value ") ) # int is for integer, float for decimal numbers
#print(a)
b=float(input("Enter b value ") )
#print(b)
c=a-b
print("The Substraction is",c)

Enter a value 200
Enter b value 100
The Substraction is 100.0

Basic Multiplication with User Input

In [ ]:
a = int(input("Enter the first value: ")) # Use int for integer input
b = int(input("Enter the second value: ")) # Use int for integer input
c = a * b
print("The product is:", c)

Enter the first value: 2
Enter the second value: 2
The product is: 4

Basic Division with User Input

In [ ]:
a = int(input("Enter the first value: ")) # Use int for integer input
b = int(input("Enter the second value: ")) # Use int for integer input
c = a / b
print("The product is:", c)

Enter the first value: 50
Enter the second value: 5
The product is: 10.0

Modulo Operation with User Input in Python

In [ ]:
a = int(input("Enter the first value: ")) # Use int for integer input
b = int(input("Enter the second value: ")) # Use int for integer input
c = a % b
print("The product is:", c)

Enter the first value: 5
Enter the second value: 3
The product is: 2

Exponential Calculation Program

In [ ]:
a = 5
b = 2
c = a**b
print("The exponential (power) is:", c)

The exponential (power) is: 25

Comparison of Two Values / Equality Check

In [ ]:
a=3
b=9
a==b

False

Floor Division Calculation

In [ ]:
False
a = 7
b = 8
c = a//b
print("The division (floor) is:", c)

The division (floor) is: 0

Nested List Example

In [ ]:
A=[1,2,3]
B=[4,5,6]
list_1=[A,B]
print(list_1)

[[1, 2, 3], [4, 5, 6]]

Element Access in Nested Lists

In [ ]:
A=[1,2,3]
B=[4,5,6]
list_1=[A,B]
print(list_1[1][2])

6