**Laboratory Experiment 3**


*   Name     : Saurabh Mahendra Bhirud
*   PRN      : 231105007
*   Subject  : Python Programming Laboratory
*   Branch      : Electrical

**AIM** : Perform operations on Lists, Tuples, Sets, arrays and dictionaries

List, Set, and Tuple Operations in Python

In [ ]:
I=[]
I.append(10)
I.append(15)
I.append(20)
print("Adding value 10 and 15 in the list")
print(I)
I.pop()
print("pop first element from list",I)
print()
s=set()
s.add(10)
s.add(15)
s.add(20)
print("Adding element 10 and 15 in the list",10)
s.remove(10)
print("remove 10 from the set",10)
print()
t=tuple(I)
print("tuple",I)
print()

Adding value 10 and 15 in the list
[10, 15, 20]
pop first element from list [10, 15]

Adding element 10 and 15 in the list 10
remove 10 from the set 10

tuple [10, 15]

Working with tuples in Python

In [ ]:
I=[]
I.append(10)
I.append(15)
I.append(20)
print("Adding value 10 and 15 in the list")
print(I)
I.pop()
print("pop first element from list",I)
print()
s=set()
s.add(10)
s.add(15)
s.add(20)
print("Adding element 10 and 15 in the list",10)
s.remove(10)
print("remove 10 from the set",10)
print()
t=tuple(I)
print("tuple",I)
print()

Adding value 10 and 15 in the list
[10, 15, 20]
pop first element from list [10, 15]

Adding element 10 and 15 in the list 10
remove 10 from the set 10

tuple [10, 15]